body {
  margin: 1px;
  padding: 5px;
  background-color: #CCFFCC;
  color: #000000;


 }      

.address {
	font-family: Arial, Helvetica;
	color: #000000;
	font-weight: normal;
	text-indent: 0em;
	letter-spacing: 0em;
	word-spacing: 0.1em;
	font-size: 10pt; 
}

h1 {
  margin: -5px;
  margin-bottom: 1ex;
  padding: 5px;
  background-color: #FFFFFF;
  width: 100%;
  border-top: 3px solid #000000;	
  border-bottom: 3px solid #000000;
  font-family: Times New Roman	
}

h2 {
  background-color:  #FFFFFF;
  color: #000000;
  border: 1px solid;
  margin-bottom: 0px;
  padding: 2px;
  font-family: Times New Roman;
  font-size: 18px;
}

p {
  background-color: #FFFFCC;
  color: #000000;
  border: 1px solid;
  padding: 2px;
  margin-top: 0px;
  font-size: 11pt;
  font-family: Arial, Helvetica;

}

