body {
  margin: 0px;
  padding: 5px;
  background-color: #ffffff;
  color: #000000;
 }      

.address {
	font-family: Arial, Helvetica;
	color: #696969;
	font-weight: normal;
	text-indent: 0em;
	letter-spacing: 0em;
	word-spacing: 0.1em;
	font-size: 10pt; 
}

h1 {
  margin: -5px;
  margin-bottom: 1ex;
  padding: 5px;
  width: 100%;
  background-color: #FF9933;
  border-bottom: 2px solid #990000;
}

h2 {
  background-color:  #FF9933;
  color: #000000;
  border: 1px solid;
  margin-bottom: 0px;
  padding: 2px;
  font-family: Courier New, Courier;
  font-size: 22px;
}

p {
  background-color: #CCCC99;
  color: #000000;
  border: 1px solid;
  padding: 2px;
  margin-top: 0px;
  font-size: 11pt;
  font-family: Arial, Helvetica;	
}

